<h1><%= @store.name() %></h1>

  <h3>Select all brands who starred in this store:</h3>

  <% if @brands.any?() %>
    <form action="/stores/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <% @brands.each() do |brand| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>" ><%= brand.name() %>
          </label>
        </div>
      <% end %>

      <button type="submit">Add brands</button>
    </form>
  <% end %>

  <% if @store.brands().any?() %>

    <h3>Here are all the brands in this store:</h3>

    <ul>
      <% @store.brands().each() do |brand| %>
        <li><%= brand.name() %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no brands yet! <a href="/brands">Add brands here</a></p>
  <% end %>


  <a href="/">Return to Main Page</a>
