<h1><%= @store.name() %></h1>

  <h3>Select all brands sold in this store:</h3>

  <% if @brands.any?() %>
    <form action="/stores/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <% @brands.each() do |brand| %>
        <div class="checkbox">
            <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>" id="<%= brand.id() %>">
            <label for="<%= brand.id() %>">
            <%= brand.name() %> <p>Manufactured On:</p><%= brand.created_at() %>
          </label>
        </div>
      <% end %>

      <button type="submit" class="button button2">Add brands</button>
    </form>
    <% end %>

  <button class="button button1"><a href="/">Return to Main Page</a></button>
